<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>application_details</title>
    <link rel="stylesheet" href="../../stylesheet/applicationdetails.css">
</head>

<body>
    <h1 style="font-size: 30px;margin: 30px;height: 36px;">Application details&nbsp;</h1>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-person-fill" style="background: url(&quot;assets/img/download.png&quot;);width: 66px;height: 66px;">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                    </svg></div>
                <div class="col"></div>
            </div>
        </div>
    </div><small style="font-size: 16px;font-style: italic;font-weight: bold;text-align: left;margin: 30px;">First Name:</small> <p>{{{application.dataValues.firstName}}}</p>
    <div class="clearfix"></div><small style="font-size: 16px;margin: 30px;padding: 0px;">NIC</small><p>{{{application.dataValues.lastName}}}</p>
    <div class="clearfix"></div><small style="font-size: 16px;margin: 30px;padding: 0px;">NIC</small><p>{{{application.dataValues.nic}}}</p>
    <div class="row">
        <div class="col"><small style="font-size: 16px;margin: 30px;">Qualifications</small></div><p>{{{application.dataValues.Qualification}}}</p>
    <div class="row">
        <div class="col"><small style="font-size: 16px;margin: 30px;">Experience</small></div><p>{{{application.dataValues.Experience}}}</p>
    </div><small style="font-size: 16px;margin: 30px;">Education details</small>
    <div class="row">
        <div class="col">
            <h1 style="margin: 30px;font-size: 20px;">Schedule interview</h1>
        </div>
    </div><small style="font-size: 14px;margin: 30px;">Enter Time</small><small style="margin: 30px;font-size: 14px;">Enter Date</small><button class="btn btn-primary" type="button" style="background: rgb(13,98,188);border-style: none;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;margin: 30px;">Confirm</button>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><button class="btn btn-primary" type="button" style="border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;margin: 30px;">Back</button></div>
                <div class="col-md-6"><button class="btn btn-primary" type="button" style="margin: 30px;background: rgb(210,10,22);border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">Decline Application</button></div>
            </div>
        </div>
    </div>
    
</body>

</html>