<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Employee Detail</title>
    <link rel="stylesheet" href="../../stylesheets/empdetails.css"
</head>

<body>
    <h1 style="font-size: 30px;margin: 30px;height: 36px;">Employee Details</h1>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5"><img src="../uploads/{{{this.dataValues.pic_location}}}" width="100" height="100"  >
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                    </svg></div>
                <div class="col"><button class="btn btn-primary bg-info" type="button">View Attendance</button></div>
            </div>
        </div>
    </div><small style="font-size: 16px;font-style: italic;font-weight: bold;text-align: left;margin: 30px;">{{{employee.dataValues.firstName}}} {{{employee.dataValues.lastName}}}</small>
    <div class="clearfix"></div><small style="font-size: 16px;margin: 30px;padding: 0px;">Email</small> <small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.email}}}</small>
    <div class="clearfix"></div><small style="margin: 30px;font-size: 16px;">Department</small> <small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.Department}}}</small>
    <div class="clearfix"></div><small style="font-size: 16px;margin: 30px;">Designation</small> <small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.designation}}}</small>
    <div class="clearfix"><div> <small style="font-size: 16px;margin: 30px;">Experience</small> <small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.experience}}}</small>
    <div class="clearfix"></div><small style="font-size: 16px;margin: 30px;">NIC</small><small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.nic}}}</small>
    <div class="row">
        <div class="col">
            <h2 style="margin: 30px;font-size: 20px;">Salary &amp; Benifits</h2>
        </div>
    </div>
    <div class="row">
        <div class="col" id="sal-ben">
            <h4>Salary</h4><small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.salary}}}</small>
            <h4>Health Insurance</h4><small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.healthInsurance}}}</small>
            <h4>No Of Benificiaries</h4><small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.benificiaries}}}</small>
            <h4>Feul</h4><small style="font-size: 16px;margin: 30px;padding: 0px;">{{{employee.dataValues.fuel}}}</small>
            <div class="text-center"></div>
        </div>
    </div>
</body>

</html>