<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Employees</title>
    
</head>

<body style="height: 650px;">
    <h1 id="employee-heading" style="margin: 70px;font-size: 30px;">Employees&nbsp;</h1>
    <div></div>
    <div class="list-group">
        {{#each employee}}
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="#" style="height: 100px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{this.dataValues.firstName}}  {{this.dataValues.lastName}}</h5><a href="/employees/{{this.dataValues.email}}"class="badge badge-pill badge-primary align-self-center" style="height: 28px;text-align: center;font-size: 15px;width: 158px;font-weight: bold;font-style: oblique;">View Profile</a>
            </div>
            <p class="mb-1">{{this.dataValues.Department}}</p><small class="text-muted" style="font-size: 16px;">{{this.dataValues.designation}}</small>
        </a>
        {{/each}}
</body>

</html>